@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,latin-ext,vietnamese);
* {margin: 0; padding: 0}


a {
    width: 100%;
}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

html, body, #wrapper, #map-canvas {
	height: 100%;
	margin: 0; padding: 0;
}

#map-canvas {
	width: calc(100% - 300px);
}

/* Remove Google map logo and it's stuff */
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}


#sidebar {
	position: fixed;
	top: 0; right: 0;
	width: 300px; height: 100%;
	background: white;
        border: 1px solid #b0b0b0;
}

.sidebar-inner {
	padding: 20px;
}

.list-location {
	list-style: none;
}

.list-location li {
	margin-bottom: 10px;
}

.list-location small {
	display: block;
	font-style: italic;	
}

.geolocate a {
	background: #4787f2;
	color: white;
	padding: 12px 10px;
	border-radius: 3px;
	font-weight: 700;
	margin-bottom: 15px;
	display: inline-block;
	text-align: center;
}

.geolocate a:hover {
	text-decoration: none;
	background: #3E77D7;	
}

/* search box */
#search-box {
	position: absolute;
	top: 20px; left: 120px;
}

#search-box input {
	width: 420px;
	border: none;
	padding: 6px 10px;
	border-radius: 3px;
	line-height: 19px;
}

#infoWindowWrapper {
	/*padding: 10px;
	width: 250px;
	background: #252525;
	color: white;
	border-radius: 45px;
	overflow: hidden;
	box-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black;*/
}

#firstHeading {
	font-size: 18px;
	margin-bottom: 10px;
}

#bodyContent {
	display: none;
}

figure {
	width: 74px;
	height: 88px;
	float: left;
	margin-right: 15px;
	position: relative;
	background: url('../images/marker.png') no-repeat center center;
}

figure img {
	border-radius: 50%;
	max-width: 100%;
	height: auto;
	position: absolute;
	width: 66px;
	height: 66px;
	top: 4px; left: 4px;
}

img[src*="uploads"]{
  border-radius: 100%;
  display: none;
}

.user-avatar {
    margin: 0 0 0 75px;
}